/* ===== GLOBAL HEIGHT FIX ===== */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* make app stretch vertically */
#root {
  display: flex;
  flex-direction: column;
}

/* main content should expand */
main {
  flex: 1;
}